node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.vscode
.idea
.DS_Store
**/*.log
build
dist
.tmp
temp
*.test.js
*.spec.js
__tests__
__mocks__
public/mockServiceWorker.js